/* colors
#A0D2EB - light blue
#E5EAF5 - light bg
#494D5F - dark, text
#D0BDF4 - light purple
#8458B3 - dark purple

 */
.root {
    -fx-background-color: #cccccc;
    /*-fx-border-color: #8458B3;*/
    /*-fx-border-width: 1px;*/
}

.label {
    -fx-text-fill: #494d5f;
}

#appTitle {
    -fx-font-size: 2em;
    -fx-text-fill: #494d5f;
    -fx-font-weight: bold;
}



#signInButton {
    -fx-text-fill: #494d5f;
    -fx-padding: 8 16 8 16;
    -fx-background-color: #d0bdf4;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #d0bdf4;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}
#signInButton:hover {
    -fx-border-color: #8458b3;

}
#signInButton:pressed {
    -fx-background-color: #8458b3;
}